@import url('global.css');

/* Header */
#header {
    padding: 10px 0;
}
#header #logo {
    float: left;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin: 10px 20px 10px 0;
}
#header #menu {
    margin: 12px 0;
    font-size: 14px;
    text-transform: uppercase;
}


/* Search */
#header form {
	float: left;
	margin-left: 20px;
}
#header form span {
	position: relative;
    margin-right: -35px;
    display: inline-block;
}
#header form input {
    width: 250px;
    font-size: 14px;
    border-radius: 50px;
    background: #f5f8f9;
    border: 1px solid #ddd;
    padding: 10px 20px 10px 40px;
}

/* Content */
#content .row-1 {
	color: #fff;
	padding: 50px 0;
    background: #063b63;
    background: radial-gradient(ellipse at center,#1c65a0 2%,#074675 70%);
	background: -moz-radial-gradient(center, ellipse cover, #1c65a0 2%, #074675 70%);
	background: -webkit-radial-gradient(center, ellipse cover, #1c65a0 2%,#074675 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c65a0', endColorstr='#074675',GradientType=1 );
}
#content .row-1 h2 {
	color: #fff;
	margin-bottom: 0;
}

#content .row-2 {
	padding: 40px 0 60px;
}



/* Results */
#search .row-1 {
	padding: 50px 0 70px;
}
#search #results {
	float: left;
	width: 770px;
}
#search #results .fa {
	color: #2093ac;
	font-size: 20px;
	margin-right: 10px;
}
#search #results header #number {
	color: #fff;
    float: left;
    font-weight: bold;
    margin-top: -68px;
    padding-bottom: 10px;
    border-bottom: 4px solid #da4545;
}

#search #results header #location {
    float: left;
    clear: both;
}
#search #results header #location small {
    color: #2093ac;
    cursor: pointer;
}
#search #results header #location strong {
    font-size: 18px;
    margin-right: 10px;
}
#search #results header #showfilter {
    float: right;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
    margin: -12px 0 20px;
    border: 1px solid #d5d5d5;
}
#search #results header #showfilter.show {
	margin: -12px 0;
    padding: 10px 20px 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 4px solid #fff;
}



#search #results #filters {
    clear: both;
    display: none;
    padding: 30px;
    margin: 9px 0 20px;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
    border-top-right-radius: 0;
}
#search #results #filters .filter {
    float: left;
    width: 200px;
}
#search #results #filters .filter h5 {
	font-weight: bold;
}
#search #results #filters .filter ul {
	margin: 0;
	padding: 0;
}
#search #results #filters .filter ul li {
    list-style: none;
    margin-bottom: 10px;
}
#search #results #filters .filter ul li .default {
    color: #2093ac;
}
#search #results #filters #hidefilter {
	clear: both;
	float: right;
	color: #2093ac;
	cursor: pointer;
	font-weight: bold;
}


#search #results #items {
	margin-bottom: 40px;
}
#search #results #items ul {
	margin: 0;
	padding: 0;
}
#search #results #items ul li {
	float: left;
	clear: both;
	padding: 25px 0;
	list-style: none;
}
#search #results #items ul li:nth-child(2n) {
	background: #f5f7f8;
}
#search #results #items ul li p {
	margin-bottom: 0;
}
#search #results #items ul li h4 {
	color: #2093ac;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}
#search #results #items ul li .date {
	float: left;
	padding: 0 30px;
	text-align: center;
	margin-right: 30px;
	text-transform: uppercase;
	border-right: 1px solid #e9e9e9;
	min-width: 90px;
}
#search #results #items ul li .date strong {
	color: #2093ac;
	display: block;
}
#search #results #items ul li .tickets {
	float: left;
	width: 589px;
}
#search #results #items ul li .tickets .button {
    float: right;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    background: #da4545;
    margin: -46px 40px 0 0;
}

/*Dynatable pagination fix*/

#search #results #items #dynatable-pagination-links-ul-dynatable-events{
	float: left;
	width: 100%;
	margin-top: 30px;
}
#search #results #items #dynatable-pagination-links-ul-dynatable-events li {
	float: none;
	clear: none;
	padding: 0px;
	margin-right: 4px;
}
#search #results #items #dynatable-pagination-links-ul-dynatable-events li:nth-child(2n) {
	background: transparent;
}
#search #results #items #dynatable-pagination-links-ul-dynatable-events li  a {
	padding: 5px 10px;
	border-radius: 4px;
	display: inline-block;
	border: 1px solid #d5d5d5;
}
#search #results #items #dynatable-pagination-links-ul-dynatable-events li:first-child span{
	display: none;
}
#search #results #items #dynatable-pagination-links-ul-dynatable-events li.dynatable-disabled-page{
	display: none;
}
#search #results #items #dynatable-pagination-links-ul-dynatable-events li .dynatable-active-page{
	border: 0;
	color: #fff;
	font-weight: bold;
	background: #3db0c9;
}
#search #results #items #dynatable-record-count-ul-dynatable-events{
	display:none;
}
.dynatable-per-page {
	float: right;
	position: relative;
	top: -25px;
}
.dynatable-per-page .dynatable-per-page-select {
	margin: 0px 10px;
	padding: 5px 2px;
}
.dynatable-per-page::after {
	content: " Events";
}
/*End fix*/

#search #results #page #pagination {
	float: left;
}
#search #results #page #pagination a {
	padding: 5px 10px;
	border-radius: 4px;
	display: inline-block;
	border: 1px solid #d5d5d5;
}
#search #results #page #pagination a.current {
	border: 0;
	color: #fff;
	font-weight: bold;
	background: #3db0c9;
}

#search #results #page #show {
	float: right;
}
#search #results #page #show select {
    width: 40px;
    height: 30px;
    margin: 0 10px;
    background: #fff;
    border: 1px solid #d5d5d5;
}

/* Sidebar */
#sidebar {
	width: 300px;
	float: right;
}
#sidebar h3 {
	font-weight: 400;
}
#sidebar aside {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d5d5d5;
}
#sidebar aside .meta p {
	margin-bottom: 10px;
}
#sidebar aside:last-child {
	border: 0;
}




/* Ticket Page */
#ticket #header {
	padding: 10px 30px;
}


/* Ticket Row 1 */
#ticket #content .row-1 {
	padding: 20px 30px;
	background: #063b63;
}
#ticket #content .row-1 h3 {
	color: #fff;
	margin-bottom: 10px;
}
#ticket #content .row-1 small {
	font-size: 12px;
}


#ticket .row-2 {
	padding: 0;
	background: #fbfbfb;
}
#ticket .row-2 form {
    width: 500px;
    background: #fff;
    border-right: 1px solid #ebedef;
}
#ticket .row-2 form fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

#ticket .row-2 form #filter {
	padding: 20px 20px 0;
    background: #f5f7f8;
    border-bottom: 1px solid #ebedef;
}
#ticket .row-2 form #filter h5 {
	font-weight: bold;
	margin-bottom: 5px;
}
#ticket .row-2 form #filter .fields {
	clear: both;
	margin-bottom: 15px;
}
#ticket .row-2 form #filter .fields .field {
	float: left;
	margin-right: 20px;
}
#ticket .row-2 form #filter .fields .field label {
	font-weight: 400;
	margin-right: 10px;
}
#ticket .row-2 form #filter .fields .field input[type="text"] {
    width: 50px;
    height: 24px;
    font-size: 14px;
}

#ticket .row-2 form #filter .fields .field select {
    height: 30px;
    font-size: 12px;
    margin-left: 5px;
    background: #fff;
    border-radius: 4px;
    padding: 10px 15px;
    border: 1px solid #ccc;
}
#ticket .row-2 form #filter .fields .field#show-etickets {
    padding: 7px 0;
}
#ticket .row-2 form #filter .fields .field#show-etickets input {
    margin-right: 5px;
}



/* Tickets */
#ticket .row-2 form #tickets {
	max-height: 400px;
	overflow-y: scroll;
}
#ticket .row-2 form #tickets ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#ticket .row-2 form #tickets ul li {
	clear: both;
	padding: 20px;
	border-bottom: 1px solid #ebedef;
}
#ticket .row-2 form #tickets ul li p {
	margin: 0;
	font-size: 12px;
	line-height: 14px;
}
#ticket .row-2 form #tickets ul li h6 {
	font-weight: bold;
	margin-bottom: 5px;
}
#ticket .row-2 form #tickets ul li:hover {
	background: #f5f7f8;
}
#ticket .row-2 form #tickets ul li:last-child {
	border: 0;
}


#ticket .row-2 form #tickets ul li .meta {
	float: left;
}
#ticket .row-2 form #tickets ul li .fields {
	float: right;
}
#ticket .row-2 form #tickets ul li .fields button {
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 4px;
    padding: 10px 15px;
    background: #da4545;
}
#ticket .row-2 form #tickets ul li .fields .field {
	float: left;
	margin-left: 20px;
}
#ticket .row-2 form #tickets ul li .fields .field select {
    width: 40px;
    height: 33px;
    background: #fff;
    margin-left: 5px;
    border-radius: 4px;
    padding: 10px 15px;
    border: 1px solid #ccc;
}


/* Footer */
#footer {
	background: #f5f7f8;
    padding: 50px 0 10px;
    border-top: 1px solid #ebedef;
}
#footer h4 {
    font-weight: 400;
}
#footer .row-1 {
	padding: 0 30px;
}
#footer .row-1 .block {
	float: left;
	width: 290px;
}
#footer .row-1 .block ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer .row-1 .block ul li {
	margin-bottom: 10px;
}
#footer .row-1 .block#securty {
	width: auto;
	float: right;
}
#footer .row-1 .block#securty .copy {
	float: right;
}
#footer .row-1 .block#securty figure {
    margin: 0 0 80px;
}
#footer .row-1 .block#securty figure img:first-child {
    margin-right: 50px;
}